/* Styles for control panel  */
.o_control_panel {
  @include media-breakpoint-up(md) {
    padding-top: 55px !important;
  }
}

/*!* Disable border around kanban record *!*/
.oe_kanban_global_click {
  @include media-breakpoint-down(md) {
    border-left: 0 !important;
    border-right: 0 !important;
  }
}

/*!* For menu items in desctop *!*/
.o_main_navbar {
  @include media-breakpoint-up(md) {
    left: 0 !important;
  }
}

/* Added padding-top for navbar in form and kanban*/
.o_kanban_renderer {
  padding-top: 97px !important;

  @include media-breakpoint-up(md) {
    padding-top: 113px !important;
  }
}
.o_form_renderer {
  padding-top: 80px !important;

  @include media-breakpoint-up(md) {
    padding-top: 130px !important;
  }
}
